<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">NASA&#39;s Perseverance Rover Is Midway to Mars </h4>
              <p>Sometimes half measures can be a good thing – especially on a journey this long. The agency&#39;s latest rover only has about 146 million miles left to reach its destination.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          <img
            src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17009_hires.jpg"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4">
          <!-- Section for Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
            <table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>
          </div>
        </div>
      </div>
      <!-- Mars Hemispheres -->
      <h2 style="padding-top: 50px; margin-top: 50px; text-align: center;">Mars Hemispheres</h2>
      <div class="card-deck">
          <hr>
          <div class="col-md-12">
              <div class="row" id="mars-hemispheres">
                  
                  <div class="col-xs-6 col-sm-3">
                      <div class="card text-white bg-danger" style="margin: 30px;">
                          <img class="card-img-top img-responsive w-100" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" alt="..." />
                          <div class="card-body">
                              <p class="card-text" style="font: size 16pt;">Cerberus Hemisphere Enhanced  </p>
                          </div>
                      </div>
                    </div>
                  
                  <div class="col-xs-6 col-sm-3">
                      <div class="card text-white bg-danger" style="margin: 30px;">
                          <img class="card-img-top img-responsive w-100" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg" alt="..." />
                          <div class="card-body">
                              <p class="card-text" style="font: size 16pt;">Schiaparelli Hemisphere Enhanced  </p>
                          </div>
                      </div>
                    </div>
                  
                  <div class="col-xs-6 col-sm-3">
                      <div class="card text-white bg-danger" style="margin: 30px;">
                          <img class="card-img-top img-responsive w-100" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg" alt="..." />
                          <div class="card-body">
                              <p class="card-text" style="font: size 16pt;">Syrtis Major Hemisphere Enhanced  </p>
                          </div>
                      </div>
                    </div>
                  
                  <div class="col-xs-6 col-sm-3">
                      <div class="card text-white bg-danger" style="margin: 30px;">
                          <img class="card-img-top img-responsive w-100" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg" alt="..." />
                          <div class="card-body">
                              <p class="card-text" style="font: size 16pt;">Valles Marineris Hemisphere Enhanced  </p>
                          </div>
                      </div>
                    </div>
                  
              </div>
            </div>
      </div>
    </div>
  </body>
</html>